<div class="">
  <div class="col-xl col-sm-12">
    <fieldset class="border p-3 rounded">
      <legend class="float-none w-auto p-1">
        {{ 'mod-merma.TYPE.LEGEND_TITLE' | translate }}
      </legend>
      <div class="col-sm-12 row p-0">
        <div class="col-sm-12 form-group">
          <label class="label-color">
            {{ 'mod-merma.TYPE.LABEL_NAME_TYPE' | translate}}
          </label>
          <input type="text" class="form-control form-select-sm" [(ngModel)]="model.nombre" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.nombre" placeholder="{{ 'mod-merma.TYPE.PLACEHOLDER_NAME_TYPE' | translate}}">
          @if(validators.nombre) {
            <span class="text-danger small">{{ 'mod-catalog.CATEGORY.PLACEHOLDER_NAME_CATEGORY' | translate }}</span>
          }
        </div>
      </div>
      <div class="col-sm-12 row p-0">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-primary btnAction d-none" (click)="crearTipo()">
            {{ 'mod-catalog.BUTTON_USER_CREATE' | translate}}
          </button>
        </div>
      </div>
    </fieldset>
  </div>
</div>