.filter-wrapper {
  position: sticky; 
  float: right;     
  right: 1.2rem;    
  top: 11rem;       
  
  margin-top: 13rem!important;
  z-index: 110;  
  
  display: flex;
  flex-direction: column; 
  gap: 8px;
  align-items: center;
  width: 0;    
  white-space: nowrap; 

  ::ng-deep app-globales-search, 
  ::ng-deep app-globales-report {
    display: block;
    margin-left: -6px;
  }
}

.table-container {
  position: relative;
  overflow: visible; 
}


/* Contenedor principal para evitar saltos */
.row-container-collapse {
  overflow: hidden; /* Vital para que el espacio desaparezca */
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1); /* Transición de altura */
}

.animate__fadeIn {
  animation: fastIn 0.25s ease-out forwards;
  max-height: 500px; /* Un valor mayor al alto real de tus cards */
  margin-top: 1rem;
  opacity: 1;
}

.animate__fadeOut {
  animation: fastOut 0.25s ease-in forwards;
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  pointer-events: none;
}

@keyframes fastIn {
  from { 
    opacity: 0; 
    transform: translateY(-15px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

@keyframes fastOut {
  from { 
    opacity: 1; 
    transform: translateY(0); 
  }
  to { 
    opacity: 0; 
    transform: translateY(-15px); 
  }
}