<div class="">
  <div class="col-xl col-sm-12 card pl-0 pr-0 pt-3 pb-4">
    <input type="text" class="d-none complementoRuta" value="">
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_LOTE' | translate}}
      </span>
      <input type="email" class="form-control form-select-sm" id="exampleInputEmail1" [(ngModel)]="model.lote"
        aria-describedby="emailHelp" placeholder="{{ 'mod-warehouse.PLACEHOLDER_LOTE_F' | translate}}">
    </div>

    <div class="col-sm-12">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LEGEND_TITLE' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <span class="" for="exampleInputEmail1">
            {{ 'mod-catalog.PRODUCT.LABEL_BRAND_PRODUCT' | translate}}
          </span>
          <ng-select 
            class="form-control custom-select form-select-sm"
            [(ngModel)]="model.id_marca"
            [items]="marcas"  
            [loading]="isLoading"
            (search)="onSearchM($event)"
            (change)="onSelectChangeM($event)"
            bindLabel="nombre" 
            bindValue="id" 
            appendTo="body">
            
            <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                No se encontró "{{searchTerm}}"
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div class="col-sm">
          <span class="" for="exampleInputEmail1">
            {{ 'mod-catalog.PRODUCT.LABEL_PRODUCT_NAME' | translate}}
          </span>
          <ng-select 
            class="form-control custom-select form-select-sm"
            [(ngModel)]="model.id_producto"
            [items]="marcas"  
            [loading]="isLoading"
            (search)="onSearchP($event)"
            (change)="onSelectChangeP($event)"
            bindLabel="nombre" 
            bindValue="id" 
            appendTo="body">
            
            <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                No se encontró "{{searchTerm}}"
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-2">
      <label>{{ 'mod-catalog.PRODUCT.LABEL_UNIT_OF_MEASUREMENT_PRODUCT' | translate }}</label>
      <select class="form-control custom-select form-select-sm" [(ngModel)]="model.id_medida">
        <option [ngValue]="0">{{ 'mod-catalog.PRODUCT.SELECT_UNIT_OF_MEASUREMENT_SELECT_OPTION' | translate }}</option>
        <option *ngFor="let medida of medidas" [ngValue]="medida.id">
          {{ medida.nombre }}
        </option>
      </select>
    </div>

    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_FECHA_ENTRADA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="date" class="form-control form-select-sm" [(ngModel)]="model.fecha_entrada_minimo">
        </div>
        <div class="col-sm">
          <input type="date" class="form-control form-select-sm" [(ngModel)]="model.fecha_entrada_maximo">
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_FECHA_VENCIMIENTO' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="date" class="form-control form-select-sm" [(ngModel)]="model.fecha_vencimiento_minimo">
        </div>
        <div class="col-sm">
          <input type="date" class="form-control form-select-sm" [(ngModel)]="model.fecha_vencimiento_maximo">
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_COMPRADA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.cantidad_comprada_minimo" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MIN_F' | translate}}">
        </div>
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.cantidad_comprada_maximo" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MAX_F' | translate}}">
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_VENDIDA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.cantidad_vendida_minimo" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MIN_F' | translate}}">
        </div>
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.cantidad_vendida_maximo" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MAX_F' | translate}}">
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_AFECTADA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.cantidad_afectada_minimo" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MIN_F' | translate}}">
        </div>
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.cantidad_afectada_maximo" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MAX_F' | translate}}">
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_BODEGA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.cantidad_en_bodega_minimo" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MIN_F' | translate}}">
        </div>
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.cantidad_en_bodega_maximo" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MAX_F' | translate}}">
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_SORT' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select" [(ngModel)]="model.field">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="id">{{ 'mod-warehouse.COLUMN_ID' | translate}}</option>
            <option value="lote">{{ 'mod-warehouse.COLUMN_BATCH' | translate}}</option>
            <option value="fecha_entrada">{{ 'mod-warehouse.COLUMN_REPORT_DATE' | translate}}</option>
            <option value="fecha_vencimiento">{{ 'mod-warehouse.COLUMN_EXPIRATION_DATE' | translate}}</option>
            <option value="cantidad_comprada">{{ 'mod-warehouse.LABEL_CANTIDAD_COMPRADA' | translate}}</option>
            <option value="cantidad_vendida">{{ 'mod-warehouse.LABEL_CANTIDAD_VENDIDA' | translate}}</option>
            <option value="cantidad_en_bodega">{{ 'mod-warehouse.LABEL_CANTIDAD_BODEGA' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select" [(ngModel)]="model.order">
            <option value="">{{ 'mod-warehouse.SELECT_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-warehouse.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-warehouse.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <button class="d-none limpiarS" (click)="limpiar()"></button>
    <button class="d-none filtrar" (click)="filtrar()"></button>
  </div>
</div>