<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column u-final">

    <div class="fixed-top header-transition bg-gradient-header-custom" [class.header-compact]="isScrolled">
      <nav class="container navbar navbar-expand navbar-light bg-gradient-header-custom my-md-n2 topbar static-top pl-2 pr-2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="LAYOUT_HOME_PAGE_START">
              <i class="bg_side_icon fas fa-fw fa-tachometer-alt"></i>
              <div class="sidebar-brand-text mx-3 text-center font-weight-bold bg_side_icon" [innerHTML]="nameApp"></div>
            </a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto align-items-center">
          <div class="topbar-divider d-none d-sm-block bg-white" style="opacity: 0.5;"></div>
          <li class="nav-item mx-2">
            <app-globales-idioma (cambioIdiomaEmitt)="idiomaCambiar($event)"></app-globales-idioma>
          </li>
          <div class="topbar-divider d-none d-sm-block bg-white" style="opacity: 0.5;"></div>
          <li class="nav-item mx-2">
            <app-globales-colormode></app-globales-colormode>
          </li>
        </ul>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-light bg-dark static-top shadow menu p-0">
        <marquee direction="left" class="container">
          <div class="container text-white">
            {{banner}}
          </div>
        </marquee>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li routerLinkActive="activo">
                <a class="nav-link text-center" [routerLink]="LAYOUT_HOME_PAGE_START">
                  {{ 'layout-home.TAB_START' | translate}}
                </a>
              </li>
              <li *ngIf="showRouteIngreso" routerLinkActive="activo">
                <a class="nav-link text-center" [routerLink]="LAYOUT_HOME_PAGE_LOGIN_FINAL">
                  {{ 'layout-home.TAB_LOGIN' | translate}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div id="content" class="container mt-4 mb-2 flex-grow-1 mb-3" style="    margin-top: 9rem !important;">
      <router-outlet></router-outlet>
    </div>

    <footer class="sticky-footer bg-gradient-footer-custom shadow-lg mt-auto">
      <div class="container my-auto">
        <div class="copyright text-center my-auto p-3">
          <span class="text-custom-footer">Copyright &copy; {{CURRENT_YEAR}}</span>
        </div>
      </div>
    </footer>
  </div>
</div>