:host {
  .bg-separator-customer {
    background-color: var(--layout-index-side-separator) !important;
  }

  .bg-gradient-header-custom {
    background-color: var(--layout-index-header_color_background) !important;
  }

  #content-wrapper {
    background-color: var(--layout-index-back_color_background) !important;
  }

  .bg-gradient-footer-custom {
    background-color: var(--layout-index-footer_color_background) !important;
  }

  .text-custom-footer {
    color: var(--layout-index-footer_text_background) !important;
  }
}