<div class="">

  @for (item of varJson; track item; let i = $index) {
  <div class="col-xl-12 col-sm-12">
    <fieldset class="border p-3 rounded">
      <legend class="float-none w-auto p-1">
        {{ 'mod-vars.LEGEND_TITLE_VAR' | translate }}
      </legend>
      <div class="col-xl col-sm-12">
        <div class="col-sm-12 row p-0">
          <label class="label-color">
            {{ 'mod-vars.LABEL_VAR_NAME' | translate}}
          </label>
          <input type="text" class="form-control form-select-sm" id="exampleInputEmail1" aria-describedby="emailHelp"
            value="{{item.nombre}}" readonly>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="col-sm-12 row p-0 mt-4">
          <label class="label-color">
            {{ 'mod-vars.LABEL_VAR_VALUE' | translate}}
          </label>

          @if(tipoVariable == 'var'){
            <input type="text" class="form-control form-select-sm" id="exampleInputEmail1" aria-describedby="emailHelp"
              value="{{item.valor}}" readonly>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          }
          @else{
            <pre class="code-input-style">
              {{ parseJson(item.valor) | json }}
            </pre>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          }

          
        </div>
      </div>
    </fieldset>
  </div>
  }

</div>