<div class="">
  <div class="col-xl col-sm-12 card pl-0 pr-0 pt-3 pb-4 scroll-card">
    <input type="text" class="d-none complementoRuta" value="">
    <div class="col-sm-12 mb-2">
      <span class="label-color">
        {{ 'mod-catalog.PRODUCT.COLUMN_BAR_CODE' | translate}}
      </span>
      <input type="text" class="form-control form-select-sm" id="exampleInputEmail1"
        [(ngModel)]="model.p_codigo_barra" aria-describedby="emailHelp"
        placeholder="{{ 'mod-warehouse.PLACEHOLDER_LOTE_F' | translate}}">
    </div>
    <div class="col-sm-12 mb-2">
      <span class="label-color">
        {{ 'mod-warehouse.COLUMN_PRODUCT' | translate}}
      </span>
      <input type="text" class="form-control form-select-sm" id="exampleInputEmail1"
        [(ngModel)]="model.p_nombre_producto" aria-describedby="emailHelp"
        placeholder="{{ 'mod-warehouse.PLACEHOLDER_LOTE_F' | translate}}">
    </div>

    <div class="col-sm-12 mb-2">
      <span class="label-color">
        {{ 'mod-catalog.PRODUCT.COLUMN_STOCK' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_stock_min" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MIN_F' | translate}}">
        </div>
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_stock_max" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MAX_F' | translate}}">
        </div>
      </div>
    </div>
    <div class="col-sm-12 mb-2">
      <span class="label-color">
        {{ 'mod-warehouse.LABEL_CANTIDAD_BODEGA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_bodega_min" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MIN_F' | translate}}">
        </div>
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_bodega_max" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MAX_F' | translate}}">
        </div>
      </div>
    </div>
    <div class="col-sm-12 mb-2">
      <span class="label-color">
        {{ 'mod-alerts.LABEL_STATUS_ALERT' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select" [(ngModel)]="model.p_aviso_stock">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="ADVERTENCIA: Aun cuenta con stock disponible">{{ 'mod-alerts.OPTION_STOCK.ITEM_ON_GREEN_ALERT' | translate}}</option>
            <option value="ADVERTENCIA: Está al limite de su stock">{{ 'mod-alerts.OPTION_STOCK.ITEM_ON_YELLOW_ALERT' | translate}}
            </option>
            <option value="ADVERTENCIA: Pedir ya, bajo el mínimo">{{ 'mod-alerts.OPTION_STOCK.ITEM_ON_ORANGE_ALERT' | translate}}
            </option>
            <option value="ADVERTENCIA: Stock agotado">{{ 'mod-alerts.OPTION_STOCK.ITEM_ON_RED_ALERT' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <span class="label-color">
        {{ 'mod-alerts.LABEL_ALERT_SORT' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select" [(ngModel)]="model.field">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="nombre">{{ 'mod-catalog.PRODUCT.COLUMN_NAME' | translate}}</option>
            <option value="stock_minimo">{{ 'mod-catalog.PRODUCT.COLUMN_STOCK' | translate}} {{
              'mod-catalog.PRODUCT.LABEL_MINIMUM_QUANTITY' | translate}}</option>
            <option value="total_productos_disponibles">{{ 'mod-warehouse.LABEL_CANTIDAD_BODEGA' | translate}}</option>
            <option value="aviso_stock">{{ 'mod-catalog.PRODUCT.WORD_COMMENT' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select" [(ngModel)]="model.order">
            <option value="">{{ 'mod-alerts.SELECT_STATUS_ALERT_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-alerts.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-alerts.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>
    <button class="d-none limpiarS" (click)="limpiar()"></button>
    <button class="d-none filtrar" (click)="filtrar()"></button>
  </div>
</div>