.code-input-style {
  display: block;
  width: 100%;
  min-height: 200px; // Altura mínima para que no se vea como una línea
  max-height: 50px; // Altura máxima con scroll
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.85rem;
  background-color: #eaecf4; // Fondo oscuro tipo VS Code
  color: #000000;           // Color de texto base
  border: 1px solid #a49f9f;
  border-radius: 0.4rem;
  overflow-x: auto;           // Scroll si es necesario
  overflow-y: auto;           // Scroll si es necesario
  white-space: pre-wrap;
  margin: 0; 
}

.form-control {
  background-color: var(--input-background_color) !important; 
  color: var(--input-text_color) !important;
}
.form-control::placeholder {
  color: var(--input-text_color_placeholder) !important; 
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: color-mix(in srgb, var(--input-background_color) 90%, var(--input-text_color)) !important;
  color: var(--input-text_color) !important;
  opacity: 1; /* Opcional: elimina la transparencia por defecto que aplica Bootstrap */
}