<div class="mb-4 border-0 rounded-0">
  <div class="d-flex justify-content-between align-items-center px-3 pb-2">
    <h4 class="m-0 fw-bold text-bold title-custom">
      {{ 'mod-alerts.MODULE_TITLE' | translate }}
    </h4>
  </div>
  <hr class="mt-0 ml-3 mr-3 title-custom">

  <div class="row animate__fadeIn m-0">
    @if(tienePermiso('alerta_caducidad')){
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 d-flex alignment-stretch pt-1 pb-1">
      <a [routerLink]="MOD_ALERT_PAGE_EXPIRATION" class="item w-100 d-flex flex-column"
        style="text-decoration: none; color: inherit;">
        <div class="card card-modern h-100 w-100 shadow-sm pointer m-0">
          <div class="card-body text-center d-flex flex-column align-items-center justify-content-center py-4">
            <h6 class="fw-bold mb-3 text-truncate w-100 text-card-custom">{{ 'mod-alerts.BUTTON_EXPIRATION' | translate }}</h6>
            <img src="assets/images/img_expiration.png" width="80px" class="colored-icon">
          </div>
        </div>
      </a>
    </div>
    }
    @if(tienePermiso('alerta_stock')){
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 d-flex alignment-stretch pt-1 pb-1">
      <a [routerLink]="MOD_ALERT_PAGE_STOCK" class="item w-100 d-flex flex-column"
        style="text-decoration: none; color: inherit;">
        <div class="card card-modern h-100 w-100 shadow-sm pointer m-0">
          <div class="card-body text-center d-flex flex-column align-items-center justify-content-center py-4">
            <h6 class="fw-bold mb-3 text-truncate w-100 text-card-custom">{{ 'mod-alerts.BUTTON_STOCK' | translate }}</h6>
            <img src="assets/images/img_alert_warehouse.png" width="80px" class="colored-icon">
          </div>
        </div>
      </a>
    </div>
    }
  </div>

</div>