<div class="card shadow card-custom pt-0 px-4">
  <div class="botoneria d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between px-0">

    <div class="title-container mb-2 mb-md-0">
      <h5 class="m-0 fw-bold text-secondary">{{ title }}</h5>
      @if(habilitarSeleccion){
        <span class="text-muted animated fadeIn" style="font-size: 0.85rem;">
          {{ 'global-tablecrud.WORD_SELECTED' | translate }}:
          <b class="text-dark">{{idsSeleccionados.length}}</b>
        </span>
      }
    </div>
    <div class="actions-container d-flex flex-wrap align-items-center gap-2">
      @if(tienePermiso('cargar_excel')){
        <span class="custom-tooltip tooltip-bottom my-auto"
              [attr.data-title]="'global-tablecrud.BUTTON_OPTION_UPLOAD' | translate"
              [class.is-disabled]="idsSeleccionados.length >= 1"
              [style.cursor]="idsSeleccionados.length >= 1 ? 'not-allowed' : 'pointer'">
          <button class="btn btn-link btn-sm mx-1 p-0 text-primary border-0" 
                  (click)="uploadItem()"
                  [disabled]="idsSeleccionados.length >= 1">
            <i class="fa fa-upload"
              [class.text-muted]="idsSeleccionados.length !== 0"
              [class.text-primary]="idsSeleccionados.length === 0"></i>
          </button>
        </span>
      }
      @if(tienePermiso('crear')){
        <span class="custom-tooltip tooltip-bottom my-auto"
              [attr.data-title]="'global-tablecrud.BUTTON_OPTION_CREATE' | translate"
              [class.is-disabled]="idsSeleccionados.length >= 1"
              [style.cursor]="idsSeleccionados.length >= 1 ? 'not-allowed' : 'pointer'">
          <button class="btn btn-link p-0 border-0 action-icon-btn" 
                  (click)="newItem()" 
                  [disabled]="idsSeleccionados.length >= 1">
            <i class="fa-solid fa-circle-plus text-primary"
              [class.text-prmary]="idsSeleccionados.length === 0"
              [class.text-muted]="idsSeleccionados.length >= 1"></i>
          </button>
        </span>
      }

      @if(tienePermiso('asignar_permisos')){
        <span class="custom-tooltip tooltip-bottom my-auto"
              [attr.data-title]="'global-tablecrud.BUTTON_OPTION_ASSIGN_PERMISSION' | translate"
              [class.is-disabled]="idsSeleccionados.length !== 1"
              [style.cursor]="idsSeleccionados.length !== 1 ? 'not-allowed' : 'pointer'">
          <button class="btn btn-link p-0 border-0 action-icon-btn" 
                  (click)="assign($event)"
                  [disabled]="idsSeleccionados.length !== 1">
            <i class="fa-solid fa-key" 
              [class.text-warning]="idsSeleccionados.length === 1"
              [class.text-muted]="idsSeleccionados.length !== 1"></i>
          </button>
        </span>
      }

      @if(tienePermiso('ver')){
        <span class="custom-tooltip tooltip-bottom my-auto"
              [attr.data-title]="'global-tablecrud.BUTTON_OPTION_SEE' | translate"
              [class.is-disabled]="idsSeleccionados.length !== 1"
              [style.cursor]="idsSeleccionados.length !== 1 ? 'not-allowed' : 'pointer'">
          <button class="btn btn-link p-0 border-0 action-icon-btn" 
                  (click)="seeItem()"
                  [disabled]="idsSeleccionados.length !== 1">
            <i class="fa-solid fa-eye" 
              [class.text-primary]="idsSeleccionados.length === 1"
              [class.text-muted]="idsSeleccionados.length !== 1"></i>
          </button>
        </span>
      }

      @if(tienePermiso('editar')){
        <span class="custom-tooltip tooltip-bottom my-auto"
              [attr.data-title]="'global-tablecrud.BUTTON_OPTION_EDIT' | translate"
              [class.is-disabled]="idsSeleccionados.length !== 1"
              [style.cursor]="idsSeleccionados.length !== 1 ? 'not-allowed' : 'pointer'">
          <button class="btn btn-link p-0 border-0 action-icon-btn" 
                  (click)="editItem()"
                  [disabled]="idsSeleccionados.length !== 1">
            <i class="fa-solid fa-pen-to-square" 
              [class.text-warning]="idsSeleccionados.length === 1"
              [class.text-muted]="idsSeleccionados.length !== 1"></i>
          </button>
        </span>
      }

      @if(tienePermiso('eliminar_individual')){
        <span class="custom-tooltip tooltip-bottom my-auto"
              [attr.data-title]="'global-tablecrud.BUTTON_OPTION_DELETE' | translate"
              [class.is-disabled]="idsSeleccionados.length === 0"
              [style.cursor]="idsSeleccionados.length === 0 ? 'not-allowed' : 'pointer'">
          <button class="btn btn-link p-0 border-0 action-icon-btn" 
                  (click)="deleteItem()"
                  [disabled]="idsSeleccionados.length === 0 || idsSeleccionados.length > 1">
            <i class="fa-solid fa-trash-can" 
              [class.text-danger]="idsSeleccionados.length > 0"
              [class.text-muted]="idsSeleccionados.length === 0 || idsSeleccionados.length > 1"></i>
          </button>
        </span>
      }          
      
      @if(tienePermiso('eliminar_multiple')){
        <span class="custom-tooltip tooltip-bottom my-auto"
              [attr.data-title]="'global-tablecrud.BUTTON_OPTION_DELETE' | translate"
              [class.is-disabled]="idsSeleccionados.length === 0"
              [style.cursor]="idsSeleccionados.length === 0 ? 'not-allowed' : 'pointer'">
          <button class="btn btn-link p-0 border-0 action-icon-btn" 
                  (click)="deleteItem()"
                  [disabled]="idsSeleccionados.length === 0">
            <i class="fa-solid fa-trash-can" 
              [class.text-danger]="idsSeleccionados.length > 0"
              [class.text-muted]="idsSeleccionados.length === 0"></i>
          </button>
        </span>
      }

      @if(habilitarSeleccion){
        <span class="custom-tooltip tooltip-bottom my-auto"
              [attr.data-title]="'global-tablecrud.BUTTON_OPTION_CLEAR' | translate"
              [class.is-disabled]="idsSeleccionados.length === 0"
              [style.cursor]="idsSeleccionados.length === 0 ? 'not-allowed' : 'pointer'">
          <button class="btn btn-link p-0 border-0 action-icon-btn" 
                  (click)="selectionClear()"
                  [disabled]="idsSeleccionados.length === 0">
            <i class="fa-solid fa-broom" 
              [class.text-secondary]="idsSeleccionados.length > 0"
              [class.text-muted]="idsSeleccionados.length === 0"></i>
          </button>
        </span>
      }
    </div>
  </div>

  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
      class="row-border hover tableDatatable table w-100">
    </table>
  </div>
</div>