<div class="">
  <div class="col-xl col-sm-12 card pl-0 pr-0 pt-3 pb-4">
    <input type="text" class="d-none complementoRuta" value="">
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_LOTE' | translate}}
      </span>
      <input type="email" class="form-control form-select-sm" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="{{ 'mod-users.PLACEHOLDER_USER_EMAIL' | translate}}">
    </div>

    <div class="col-sm-12">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LEGEND_TITLE' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="id">{{ 'mod-users.COLUMN_ID' | translate}}</option>
            <option value="email">{{ 'mod-users.COLUMN_EMAIL' | translate}}</option>
            <option value="firstName">{{ 'mod-users.COLUMN_NAMES' | translate}}</option>
            <option value="lastName">{{ 'mod-users.COLUMN_LASTNAME' | translate}}</option>
            <option value="isActive">{{ 'mod-users.COLUMN_STATUS' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-users.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-users.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_FECHA_ENTRADA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="id">{{ 'mod-users.COLUMN_ID' | translate}}</option>
            <option value="email">{{ 'mod-users.COLUMN_EMAIL' | translate}}</option>
            <option value="firstName">{{ 'mod-users.COLUMN_NAMES' | translate}}</option>
            <option value="lastName">{{ 'mod-users.COLUMN_LASTNAME' | translate}}</option>
            <option value="isActive">{{ 'mod-users.COLUMN_STATUS' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-users.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-users.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_FECHA_VENCIMIENTO' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="id">{{ 'mod-users.COLUMN_ID' | translate}}</option>
            <option value="email">{{ 'mod-users.COLUMN_EMAIL' | translate}}</option>
            <option value="firstName">{{ 'mod-users.COLUMN_NAMES' | translate}}</option>
            <option value="lastName">{{ 'mod-users.COLUMN_LASTNAME' | translate}}</option>
            <option value="isActive">{{ 'mod-users.COLUMN_STATUS' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-users.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-users.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_COMPRADA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="id">{{ 'mod-users.COLUMN_ID' | translate}}</option>
            <option value="email">{{ 'mod-users.COLUMN_EMAIL' | translate}}</option>
            <option value="firstName">{{ 'mod-users.COLUMN_NAMES' | translate}}</option>
            <option value="lastName">{{ 'mod-users.COLUMN_LASTNAME' | translate}}</option>
            <option value="isActive">{{ 'mod-users.COLUMN_STATUS' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-users.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-users.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_VENDIDA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="id">{{ 'mod-users.COLUMN_ID' | translate}}</option>
            <option value="email">{{ 'mod-users.COLUMN_EMAIL' | translate}}</option>
            <option value="firstName">{{ 'mod-users.COLUMN_NAMES' | translate}}</option>
            <option value="lastName">{{ 'mod-users.COLUMN_LASTNAME' | translate}}</option>
            <option value="isActive">{{ 'mod-users.COLUMN_STATUS' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-users.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-users.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_AFECTADA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="id">{{ 'mod-users.COLUMN_ID' | translate}}</option>
            <option value="email">{{ 'mod-users.COLUMN_EMAIL' | translate}}</option>
            <option value="firstName">{{ 'mod-users.COLUMN_NAMES' | translate}}</option>
            <option value="lastName">{{ 'mod-users.COLUMN_LASTNAME' | translate}}</option>
            <option value="isActive">{{ 'mod-users.COLUMN_STATUS' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-users.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-users.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_BODEGA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="id">{{ 'mod-users.COLUMN_ID' | translate}}</option>
            <option value="email">{{ 'mod-users.COLUMN_EMAIL' | translate}}</option>
            <option value="firstName">{{ 'mod-users.COLUMN_NAMES' | translate}}</option>
            <option value="lastName">{{ 'mod-users.COLUMN_LASTNAME' | translate}}</option>
            <option value="isActive">{{ 'mod-users.COLUMN_STATUS' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-users.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-users.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_SORT' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="id">{{ 'mod-users.COLUMN_ID' | translate}}</option>
            <option value="email">{{ 'mod-users.COLUMN_EMAIL' | translate}}</option>
            <option value="firstName">{{ 'mod-users.COLUMN_NAMES' | translate}}</option>
            <option value="lastName">{{ 'mod-users.COLUMN_LASTNAME' | translate}}</option>
            <option value="isActive">{{ 'mod-users.COLUMN_STATUS' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-users.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-users.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <button class="d-none limpiarS" (click)="limpiar()"></button>
    <button class="d-none filtrar" (click)="filtrar()"></button>
  </div>
</div>