.card {
  background-color: var(--input-background_color) !important; 
}
.form-control {
  background-color: var(--input-background_color) !important; 
  color: var(--input-text_color) !important;
  border-color: var(--input-border_color) !important;
}
.form-control::placeholder {
  color: var(--input-text_color_placeholder) !important; 
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: color-mix(in srgb, var(--input-background_color) 90%, var(--input-text_color)) !important;
  color: var(--input-text_color) !important;
  opacity: 1; /* Opcional: elimina la transparencia por defecto que aplica Bootstrap */
}
.label-color {
  color: var(--input-label_color) !important;
}

.scroll-card {
  max-height: 300px; 
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}