<div class="">
  <div class="col-sm-12 form-group mb-3">
    <label class="label-color">
      {{ 'mod-warehouse.LABEL_LOTE' | translate}}
    </label>
    
    <input type="text" placeholder="SP-2536" 
           [(ngModel)]="lote" 
           (ngModelChange)="validationSubject.next()"
           [class.is-invalid]="validators.lote" 
           class="form-control form-select-sm">

    @if(!idProducto) {
    <div class="d-flex justify-content-between">
      <small class="text-danger">
        Producto no encontrado.
      </small>
    </div>    
    }
           
    @if(validators.lote) {
    <div class="d-flex justify-content-between">
      <small [ngClass]="lote ? 'text-success font-weight-bold' : 'text-danger'">
        Debe ingresar un lote
      </small>
    </div>
    }

    @if(loteNotFound){
    <div class="d-flex justify-content-between">
      <small class="text-danger">
        El lote no encontrado
      </small>
    </div>
    }
  </div>
</div>