<div class="">
  <div class="col-sm-12 form-group mb-3">
    <label class="label-color">{{ 'mod-catalog.PRODUCT.LABEL_COD_BAR_PRODUCT' | translate }} (EAN-13)</label>
    <input type="text" class="form-control form-select-sm" [class]="(fielddBarCode) ? 'bg-light' :''"
      [(ngModel)]="producto.codigo_barra" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.codigo_barra"
      placeholder="{{ 'mod-catalog.PRODUCT.PLACEHOLDER_COD_BAR_PRODUCT' | translate }}" [disabled]="fielddBarCode">
    @if(validators.producto_inactivo) {
    <div class="d-flex justify-content-between">
      <small class="text-danger">
        {{ 'mod-warehouse.MSJ_ERROR_PRODUCT_INACTIVE' | translate }}
      </small>
    </div>
    }
    @if(validators.codigo_barra) {
    <div class="d-flex justify-content-between">
      <small [ngClass]="esCodigoValido ? 'text-success font-weight-bold' : 'text-danger'">
        {{ longitudCodigo }} / 13
      </small>
    </div>
    }
    <div class="row mt-2 g-2">
      <div class="col-4">
        <button type="button" class="btn btn-sm btn-outline-primary w-100" (click)="ean13(1)">
          <i class="fa fa-barcode"></i> Escanear
        </button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-sm btn-outline-primary w-100" (click)="ean13(2)">
          <i class="fa fa-pencil"></i> Manual
        </button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-sm btn-danger w-100" (click)="ean13(3)">
          <i class="fa fa-trash"></i> Limpiar
        </button>
      </div>
    </div>


    @if(show_detail_product){
    <div class="row mt-3">
      <div class="col-sm-6 form-group">
        <label class="label-color form-label">{{ 'mod-catalog.PRODUCT.LABEL_NAME_PRODUCT' | translate }}</label>
        <input type="text" class="form-control form-select-sm bg-light" [(ngModel)]="producto.nombre" disabled>
      </div>
      <div class="col-sm-6 form-group">
        <label class="label-color form-label">{{ 'mod-catalog.PRODUCT.LABEL_BRAND_PRODUCT' | translate
          }}</label>
        <input type="text" class="form-control form-select-sm bg-light" [(ngModel)]="producto.marca" disabled>
      </div>
      <div class="col-sm form-group">
        <label class="label-color form-label">{{ 'mod-catalog.PRODUCT.LABEL_UNIT_OF_MEASUREMENT_PRODUCT' |
          translate }}</label>
        <input type="text" class="form-control form-select-sm bg-light" [(ngModel)]="producto.unidad_medida" disabled>
      </div>
    </div>
    }
  </div>
  @if (btn_new_product && puedoCrearProductos) {
  <div class="d-flex flex-row-reverse">
    <button class="btn btn-sm btn-primary" (click)="goTo('admin/mod/catalog/productos', 0)">
      {{ 'mod-catalog.PRODUCT.CREATE_TITLE' | translate }} {{ 'mod-catalog.PRODUCT.CREATE_SUBTITLE' | translate }}
    </button>
  </div>
  }
  @if (btn_new_product && !puedoCrearProductos) {
  <div class="d-flex justify-content-between">
    <small class="text-danger">
      {{ 'mod-warehouse.MSJ_ERROR_CREATE_PRODUCTS_PERMISSION' | translate }}
    </small>
  </div>
  }
</div>