.table-container {
  position: relative;
  overflow: visible; 
}

.card-custom {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: none;
  color: var(--grid_table_crud-row_text_color) !important;
  background-color: var(--grid_table_crud-background_color) !important;
  overflow: visible !important;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.row-container-collapse {
  overflow: hidden; 
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1); 
}

.title-custom {
  color: var(--layout-admin-page_color_title) !important;
  background-color: transparent;
}


.form-control {
  background-color: var(--input-background_color) !important; 
  color: var(--input-text_color) !important;
  border-color: var(--input-border_color) !important;
}
.form-control::placeholder {
  color: var(--input-text_color_placeholder) !important; 
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: color-mix(in srgb, var(--input-background_color) 90%, var(--input-text_color)) !important;
  color: var(--input-text_color) !important;
  opacity: 1; /* Opcional: elimina la transparencia por defecto que aplica Bootstrap */
}
.label-color {
  color: var(--input-label_color) !important;
}
legend {
  color: var(--modal-legend_text_color);
}




