<div class="mb-4 border-0 rounded-0">
  <div class="mt-2 p-3 pt-0" style="position: relative;">
    <div class="row mb-4 gap-4">
      <div class="col-sm-12">
        <div class="card-custom shadow mb-3">
          <!-- EAN13 -->
          <app-globales-scanner13 (clearData)="clearData($event)"
            (dataResultScanned)="productScanned($event)"></app-globales-scanner13>

          <app-toogle-batch (tieneLoteChange)="showInputBatch($event)"></app-toogle-batch>

          @if(showRequestBartch){
          <div class="pl-4 pr-4">
            <app-reporte-lote #hijoFiltro [idProducto]="idProducto"
              (dataResultLote)="loteTyped($event)"></app-reporte-lote>
          </div>
          }

          <div class="pl-4 pr-4 pb-4" [class.pt-4]="!showRequestBartch">
            <div class="col-sm-12">
              <button type="button" class="btnFilterBatch btn btn-sm btn-outline-primary w-100" [disabled]="!isFormValid"
                (click)="filtrarLote()">
                <i class="fa fa-filter"></i> {{ 'global-search.TITTLE_COMPONENT' | translate }}
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

    @if(showDetailProduct){
    <div class="card-custom shadow pl-4 pr-4 pt-4 pb-4 mb-4">
      <fieldset class="border p-3 rounded mb-3">
        <legend class="float-none w-auto p-1">
          Resultados busqueda
          <button class="btn btn-sm btn-light rounded-circle shadow-sm" (click)="toogleSection('resultadosBusqueda')">
            <i [class]="mostrarSeccion.resultadosBusqueda ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
          </button>
        </legend>
        <div class="row" *ngIf="mostrarSeccion.resultadosBusqueda"
          [class.animate__fadeIn]="mostrarSeccion.resultadosBusqueda"
          [class.animate__fadeOut]="!mostrarSeccion.resultadosBusqueda">
          <app-reporte-warehouse [datosRecibidos]="datosJson"></app-reporte-warehouse>
        </div>
      </fieldset>
    </div>

    <div class="row mb-4">
      <div class="col-sm-12">
        <div class="card-custom shadow mb-3 pl-4 pr-4 pt-4">
          <app-reporte-rangos></app-reporte-rangos>
        </div>
      </div>
    </div>
    }

    <div class="card-custom shadow pl-4 pr-4 pt-4 pb-4 mb-4">
      <fieldset class="border p-3 rounded mb-3">
        <legend class="float-none w-auto p-1">
          Informe grafico
          <button class="btn btn-sm btn-light rounded-circle shadow-sm"
            (click)="toogleSection('resultadosGraficosBusqueda')">
            <i [class]="mostrarSeccion.resultadosGraficosBusqueda ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
          </button>
        </legend>

        <div class="row" *ngIf="mostrarSeccion.resultadosGraficosBusqueda"
          [class.animate__fadeIn]="mostrarSeccion.resultadosGraficosBusqueda"
          [class.animate__fadeOut]="!mostrarSeccion.resultadosGraficosBusqueda">


          <div class="row g-4">

            <!-- Fila 1 -->
            <div class="col-12 col-md-4">
              <app-globales-charts title="Gráfica de Líneas" chartType="line" [chartData]="lineChartData"
                [chartOptions]="lineChartOptions"></app-globales-charts>
            </div>
            <div class="col-12 col-md-4">
              <app-globales-charts title="Gráfica de Pastel" chartType="pie" [chartData]="pieChartData"
                [chartOptions]="pieChartOptions"></app-globales-charts>
            </div>
            <div class="col-12 col-md-4">
              <app-globales-charts title="Gráfica de Barras" chartType="bar" [chartData]="barChartData"
                [chartOptions]="barChartOptions"></app-globales-charts>
            </div>

            <!-- Fila 2 (Se acomodarán automáticamente abajo de forma simétrica) -->
            <div class="col-12 col-md-4">
              <app-globales-charts title="Gráfica de Líneas" chartType="line" [chartData]="lineChartData"
                [chartOptions]="lineChartOptions"></app-globales-charts>
            </div>
            <div class="col-12 col-md-4">
              <app-globales-charts title="Gráfica de Pastel" chartType="pie" [chartData]="pieChartData"
                [chartOptions]="pieChartOptions"></app-globales-charts>
            </div>
            <div class="col-12 col-md-4">
              <app-globales-charts title="Gráfica de Barras" chartType="bar" [chartData]="barChartData"
                [chartOptions]="barChartOptions"></app-globales-charts>
            </div>

          </div>

        </div>

      </fieldset>
    </div>
  </div>
</div>