.card-preview-container {
  --card_menu_custom-text_color: "";
  --card_menu_custom-icon_color: "";
  --card_menu_custom-background_card_color: "";
  --card_menu_custom-hover_card_color: "";
}

.bg_system {
  background-color: var(--layout-admin-main_background_color)!important;
}
