<div class="mb-4 border-0 rounded-0">
  <div class="d-flex justify-content-between align-items-center px-3 pb-2">
    <h4 class="m-0 fw-bold text-bold">
      {{ 'mod-vars.MODULE_TITLE' | translate }}
    </h4>
  </div>
  <hr class="mt-0 ml-3 mr-3">

    <div class="row animate__fadeIn m-0">
    @if(tienePermiso('system_var')){
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 d-flex alignment-stretch pt-1 pb-1">
      <a [routerLink]="MOD_VAR_PAGE_VARS" class="item w-100 d-flex flex-column"
        style="text-decoration: none; color: inherit;">
        <div class="card card-modern h-100 w-100 shadow-sm pointer m-0">
          <div class="card-body text-center d-flex flex-column align-items-center justify-content-center py-4">
            <!-- <h6 class="fw-bold mb-3 text-truncate w-100">{{ 'mod-vars.BUTTON_VAR' | translate }}</h6> -->
            <img src="assets/images/img_var.png" width="80px">
          </div>
        </div>
      </a>
    </div>
    }
    @if(tienePermiso('system_json')){
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 d-flex alignment-stretch pt-1 pb-1">
      <a [routerLink]="MOD_VAR_PAGE_JSON" class="item w-100 d-flex flex-column"
        style="text-decoration: none; color: inherit;">
        <div class="card card-modern h-100 w-100 shadow-sm pointer m-0">
          <div class="card-body text-center d-flex flex-column align-items-center justify-content-center py-4">
            <!-- <h6 class="fw-bold mb-3 text-truncate w-100">{{ 'mod-vars.BUTTON_JSON' | translate }}</h6> -->
            <img src="assets/images/img_json.png" width="80px">
          </div>
        </div>
      </a>
    </div>
    }
  </div>

</div>