<div class="col-sm-12 row">
  <div class="col-sm my-5">
    <div class="modal modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header pt-1 pb-1 pl-3 pr-3">
          <div class="col-sm-12 row text-center m-0">
            <h5 class="modal-title" id="staticBackdropLabel">Titulo</h5>
            <span class="modal-title">Subtitulo</span>
          </div>
          <button type="button" class="close ml-md-n5" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-crear-usuarios></app-crear-usuarios>
        </div>
        <div class="modal-footer pt-2 pb-2 pr-3">
          <button type="button" class="btn btn-sm closeModalButton btnCancel mx-2">Cancel</button>
          <button type="button" class="btn btn-sm btnSave mx-2">Guardar</button>
          <button type="button" class="btn btn-sm btnUpdate mx-2">Editar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 row">
    <label for="" class="text-center title-custom">
      Colores tablecrud
    </label>
    <div class="container row">
      <div class="col text-center">
        <label class="fw-bold mb-3 title-custom">Light</label>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Background</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Text</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
      </div>

      <div class="col text-center">
        <label class="fw-bold mb-3 title-custom">Dark</label>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Background</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Text</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
      </div>
    </div>
  </div>
</div>