<div class="card-preview-container col-sm-12 row">
  <div class="col-sm-4 row">
    <label for="" class="text-center title-custom">
      Colores tablecrud
    </label>
    <div class="container row">
      <div class="col text-center">
        <label class="fw-bold mb-3 title-custom">Light</label>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Background</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Text</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
      </div>

      <div class="col text-center">
        <label class="fw-bold mb-3 title-custom">Dark</label>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Background</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Text</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="title-custom">Hover</span>
          <input type="color">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm bg_system rounded-5 p-4 d-flex justify-content-center align-items-center">
    <div class="card w-100 border-0 shadow-sm" style="max-width: 800px; border-radius: 0.5rem; overflow: hidden;">

      <!-- Cabecera -->
      <div class="card-header text-center bg-primary text-white pt-2 pb-2 position-relative">
        <h5 class="modal-title m-0" id="staticBackdropLabel">Titulo</h5>
        <span class="modal-title d-block">Subtitulo</span>
        <button type="button" class="close position-absolute"
          style="right: 15px; top: 10px; background: none; border: 0; color: white;" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Cuerpo -->
      <div class="card-body bg-light">
        <app-crear-dummie></app-crear-dummie>
      </div>

      <!-- Pie de página -->
      <div class="card-footer bg-light pt-2 pb-2 d-flex justify-content-end">
        <button type="button" class="btn btn-sm closeModalButton btnCancel mx-2">Cancel</button>
        <button type="button" class="btn btn-sm btnSave mx-2">Guardar</button>
        <button type="button" class="btn btn-sm btnUpdate mx-2">Editar</button>
      </div>

    </div>
  </div>
</div>