<div class="row">

  <div class="col-sm-12 mb-2">
    <div class="row">
      <span class="label-color text-center mb-4" for="exampleInputEmail1">
        Fecha de reporte
      </span>
      <div class="col-sm">
        <span class="label-color text-center mb-4" for="exampleInputEmail1">
          Desde
        </span>
        <input type="date" class="form-control form-select-sm" [(ngModel)]="model.fecha_inicio">
      </div>
      <div class="col-sm">
        <span class="label-color text-center mb-4" for="exampleInputEmail1">
          Hasta
        </span>
        <input type="date" class="form-control form-select-sm" [(ngModel)]="model.fecha_fin">
      </div>
    </div>
  </div>
  <div class="col-sm-12 mt-2 text-center">
    <span class="label-color text-center mb-4" for="exampleInputEmail1">
      Grafíco
    </span>
    <select name="" id="" class="form-control">
      <option value="">Seleccione</option>
      <option value="">en dias</option>
      <option value="">en meses</option>
      <option value="">en años</option>
    </select>
  </div>
  <div class="col-sm-12 mt-2 text-center">
    <button class="btn btn-primary btn-sm mx-2">Generar</button>
  </div>

</div>