<div class="theme-switch-container">
  <!-- El enlace principal de Bootstrap -->
  <a class="nav-link dropdown-toggle color_icons theme-switch" id="alertsDropdown" role="button" data-toggle="dropdown">
    
    <!-- Contenedor exacto que agrupa campana y número -->
    <span class="bell-wrapper">
      <i class="fas fa-bell fa-fw bell-icon"></i>
      <span class="badge badge-danger badge-counter">3+</span>
    </span>

  </a>
  
  <div class="dropdown-menu dropdown-menu-lg shadow animated--grow-in dropdown-menu-right custom_notify"
    aria-labelledby="userDropdown">
    <span class="dropdown-item dropdown-header">15 Notifications</span>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item dropdown-header">
      <i class="bi bi-envelope me-2"></i> 4 new messages
      <span class="float-end text-secondary fs-7">3 mins</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item dropdown-header">
      <i class="bi bi-people-fill me-2"></i> 8 friend requests
      <span class="float-end text-secondary fs-7">12 hours</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item dropdown-header">
      <i class="bi bi-file-earmark-fill me-2"></i> 3 new reports
      <span class="float-end text-secondary fs-7">2 days</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item dropdown-footer"> See All Notifications </a>
  </div>
</div>