<div class="card shadow card-custom">
  <section class="seccion">
    <h2 class="title-custom">Explora nuestros módulos</h2>
    <div class="modulos-grid">
      <div class="modulo-card">
        <img src="assets/images/img_users.png" alt="Usuarios" width="60">
        <h3 class="title-card">Usuarios</h3>
        <div class="overlay-menu">
          <div class="carousel" style="--total: 3;">
            <span class="">Configuración de usuarios</span>
            <span class="">Gestión de permisos</span>
            <span class="">Auditoría</span>
          </div>
        </div>
      </div>
      <div class="modulo-card">
        <img src="assets/images/img_catalog.png" alt="Catálogo" width="60">
        <h3 class="title-card">Catálogo</h3>
        <div class="overlay-menu">
          <div class="carousel" style="--total: 4;">
            <span class="">Registro de proveedores</span>
            <span class="">Registro de unidad de medida</span>
            <span class="">Registro de marcas</span>
            <span class="">Registro de productos</span>
          </div>
        </div>
      </div>
      <div class="modulo-card">
        <img src="assets/images/img_warehouse.png" alt="Bodega" width="60">
        <h3 class="title-card">Bodega</h3>
        <div class="overlay-menu">
          <div class="carousel" style="--total: 1;">
            <span class="">Gestor de bodega</span>
          </div>
        </div>
      </div>
      <div class="modulo-card">
        <img src="assets/images/img_averiado.png" alt="Merma" width="60">
        <h3 class="title-card">Merma</h3>
        <div class="overlay-menu">
          <div class="carousel" style="--total: 3;">
            <span class="">Registro de tipo de perdidas</span>
            <span class="">Registro de perdidas</span>
            <span class="">Registro historico de perdidas</span>
          </div>
        </div>
      </div>
      <div class="modulo-card">
        <img src="assets/images/img_alert.png" alt="Alertas" width="60">
        <h3 class="title-card">Alertas</h3>
        <div class="overlay-menu">
          <div class="carousel" style="--total: 2;">
            <span class="">Vencimiento</span>
            <span class="">Stock</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>