.title_card:hover {
    cursor: pointer
}
.title-custom {
  color: var(--layout-admin-page_color_title) !important;
  background-color: transparent;
}

.bg_system {
  background-color: var(--layout-admin-main_background_color)!important;
}

.card-custom {
  color: var(--grid_table_crud-row_text_color) !important;
  background-color: var(--grid_table_crud-background_color) !important;
}
.card-body {
  background-color: var(--layout-admin-back_color_background) !important;
}
