:host {
  --filter: none !important;

  &[data-theme='dark'],
  &:host-context([data-theme='dark']) {
    --filter: invert(1) brightness(100) !important;
  }
}

.title_card:hover {
  cursor: pointer
}

.title-custom {
  color: var(--title_page-text_color) !important;
  background-color: transparent;
}

.line-title-custom {
  color: var(--title_page-line_color) !important;
  background-color: transparent;
}

.bg_system {
  background-color: var(--layout-admin-main_background_color) !important;
}

.card-custom {
  color: var(--grid_table_crud-row_text_color) !important;
  background-color: var(--grid_table_crud-background_color) !important;
}

.card-body {
  background-color: var(--layout-admin-back_color_background) !important;
}

.card_icon {
  background-color: var(--title_page-background_card_color) !important;
  transition: background-color 0.3s ease; // Muy importante para que sea suave
}

.img-logo {
  width: 100%;
  height: 80px;
  /* Altura fija para consistencia visual */
  object-fit: contain;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
  background-color: var(--card_menu-icon_color); 
}

.img-logo.small {
  width: 24px;
  height: 24px;
  background-color: var(--title_page-icon_color); 
}

.colored-icon {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  transition: background-color 0.3s ease;
}
