<div class="">
  @for (item of medida; track item; let  i = $index) {
    <div class="col-xl-12 col-sm-12">
      <fieldset class="border p-3 rounded">
        <legend class="float-none w-auto p-1">
          {{ 'mod-catalog.EXTENT.LEGEND_TITLE' | translate }}
        </legend>
        <div class="col-sm-12 p-0">
          <div class="col-sm-12 form-group">
            <label for="exampleInputEmail1">
              {{ 'mod-catalog.EXTENT.LABEL_EXTENT_NAME' | translate}}
            </label>
            <input type="text" class="form-control form-select-sm" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{item.nombre}}" readonly>
          </div>
        </div>
      </fieldset>
    </div>
  }
</div>



