<div class="">
  <div class="col-xl col-sm-12">
    @if(form_new_product){
    <fieldset class="border p-3 rounded">
      <legend class="float-none w-auto p-1">
        {{ 'mod-catalog.PRODUCT.LEGEND_TITLE_PRODUCT' | translate }}
        <button class="btn btn-sm btn-light rounded-circle shadow-sm" (click)="toogleSection('productSeccion')">
          <i [class]="mostrarSeccion.productSeccion ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
        </button>
      </legend>
      <div class="row" *ngIf="mostrarSeccion.productSeccion" [class.animate__fadeIn]="mostrarSeccion.productSeccion" [class.animate__fadeOut]="!mostrarSeccion.productSeccion">
        <div class="col-sm-12 form-group mb-3">
          <label>{{ 'mod-catalog.PRODUCT.LABEL_COD_BAR_PRODUCT' | translate }} (EAN-13)</label>
          <input type="text" class="form-control form-select-sm" [(ngModel)]="producto.codigo_barra"
            (ngModelChange)="onInputChange()" [class.is-invalid]="validators.codigo_barra"
            placeholder="{{ 'mod-catalog.PRODUCT.PLACEHOLDER_COD_BAR_PRODUCT' | translate }}">
          @if(validators.codigo_barra) {
          <div class="d-flex justify-content-between">
            <small [ngClass]="esCodigoValido ? 'text-success font-weight-bold' : 'text-danger'">
              {{ longitudCodigo }} / 13
            </small>
          </div>
          }
          @if(show_detail_product){
          <div class="row mt-3">
            <div class="col-sm-6 form-group">
              <label class="form-label">{{ 'mod-catalog.PRODUCT.LABEL_NAME_PRODUCT' | translate }}</label>
              <input type="text" class="form-control form-select-sm bg-light" [(ngModel)]="producto.nombre" disabled>
            </div>
            <div class="col-sm-6 form-group">
              <label class="form-label">{{ 'mod-catalog.PRODUCT.LABEL_BRAND_PRODUCT' | translate }}</label>
              <input type="text" class="form-control form-select-sm bg-light" [(ngModel)]="producto.marca" disabled>
            </div>
            <div class="col-sm form-group">
              <label class="form-label">{{ 'mod-catalog.PRODUCT.LABEL_UNIT_OF_MEASUREMENT_PRODUCT' | translate
                }}</label>
              <input type="text" class="form-control form-select-sm bg-light" [(ngModel)]="producto.unidad_medida"
                disabled>
            </div>
          </div>
          }
        </div>
        @if (btn_new_product && puedoCrearProductos) {
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <button class="btn btn-sm btn-primary" (click)="goTo('admin/mod/catalog/productos', 0)">
              {{ 'mod-catalog.PRODUCT.CREATE_TITLE' | translate }} {{ 'mod-catalog.PRODUCT.CREATE_SUBTITLE' | translate
              }}
            </button>
          </div>
        </div>
        }
        @if (btn_new_product && !puedoCrearProductos) {
        <div class="d-flex justify-content-between">
          <small class="text-danger">
            {{ 'mod-warehouse.MSJ_ERROR_CREATE_PRODUCTS_PERMISSION' | translate }}
          </small>
        </div>
        }
      </div>
    </fieldset>
    }

    @if(form_batch){
    <fieldset class="border p-3 rounded">
      <legend class="float-none w-auto p-1">
        {{ 'mod-warehouse.LEGEND_TITLE' | translate }}
        <button class="btn btn-sm btn-light rounded-circle shadow-sm" (click)="toogleSection('batchSeccion')">
          <i [class]="mostrarSeccion.batchSeccion ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
        </button>
      </legend>
      <div class="row" *ngIf ="mostrarSeccion.batchSeccion" [class.animate__fadeIn]="mostrarSeccion.batchSeccion" [class.animate__fadeOut]="!mostrarSeccion.batchSeccion">
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-warehouse.LABEL_LOTE' | translate}}
          </label>
          <input type="text" class="form-control form-select-sm" [(ngModel)]="bodega.lote"
            (ngModelChange)="onInputChange()" [class.is-invalid]="validators.lote"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_LOTE' | translate}}">
          @if(validators.lote) {
          <span class="text-danger small">{{ 'mod-warehouse.PLACEHOLDER_LOTE' | translate }}</span>
          }
        </div>
        @if (btn_new_batch && puedoCrearBatch) {
          <div class="d-flex flex-row-reverse">
            <div class="p-2">
              <button class="btn btn-sm btn-primary" (click)="goTo('admin/mod/catalog/proveedores', 0)">
                {{ 'mod-catalog.SUPPLIER.CREATE_TITLE' | translate }} {{ 'mod-catalog.SUPPLIER.CREATE_SUBTITLE' | translate }}
              </button>
            </div>
          </div>
        }
        @if(show_detail_batch){
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-warehouse.LABEL_FECHA_ENTRADA' | translate}}
          </label>
          <input type="date" class="form-control form-select-sm bg-light" [(ngModel)]="bodega.fecha_entrada" disabled>
        </div>
        @if(producto.es_perecedero){
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-warehouse.LABEL_FECHA_VENCIMIENTO' | translate}}
          </label>
          <input type="date" class="form-control form-select-sm bg-light" [(ngModel)]="bodega.fecha_vencimiento" disabled>
        </div>
        }
        <div class="col-sm-12 form-group">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for="exampleInputEmail1">
                {{ 'mod-warehouse.LABEL_CANTIDAD_COMPRADA' | translate}}
              </label>
              <input type="number" min="0" class="form-control form-select-sm bg-light" [(ngModel)]="bodega.cantidad_comprada" disabled>
              <span class="bg-gradient-success rounded-3 pl-1 pr-1 text-gray-100">en {{producto.unidad_medida}}</span>
            </div>
            <div class="col-sm-6 form-group">
              <label for="exampleInputEmail1">
                {{ 'mod-warehouse.LABEL_CANTIDAD_VENDIDA' | translate}}
              </label>
              <input type="number" min="0" class="form-control form-select-sm bg-light" [(ngModel)]="bodega.cantidad_vendida" disabled>
              <span class="bg-gradient-success rounded-3 pl-1 pr-1 text-gray-100">en {{producto.unidad_medida}}</span>
            </div>
            <div class="col-sm-6 form-group">
              <label for="exampleInputEmail1">
                {{ 'mod-warehouse.LABEL_CANTIDAD_AFECTADA' | translate}}
              </label>
              <input type="number" min="0" class="form-control form-select-sm bg-light" disabled>
              <span class="bg-gradient-success rounded-3 pl-1 pr-1 text-gray-100">en {{producto.unidad_medida}}</span>
            </div>
            <div class="col-sm-6 form-group">
              <label for="exampleInputEmail1">
                {{ 'mod-warehouse.LABEL_CANTIDAD_BODEGA' | translate}}
              </label>
              <input type="number" min="0" class="form-control form-select-sm bg-light" [(ngModel)]="bodega.cantidad_en_bodega" disabled>
              <span class="bg-gradient-success rounded-3 pl-1 pr-1 text-gray-100">en {{producto.unidad_medida}}</span>
            </div>
          </div>
        </div>
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-warehouse.LABEL_ESTADO' | translate}}
          </label>
          <select class="form-control custom-select form-select-sm bg-light" [(ngModel)]="bodega.estado" disabled>
            <option value="">{{ 'mod-warehouse.SELECT_SELECT_OPTION' | translate}}</option>
            <option value="disponible">{{ 'mod-warehouse.SELECT_AVAILABLE_OPTION' | translate}}</option>
            <option value="vencido">{{ 'mod-warehouse.SELECT_UNAVAILABLE_OPTION' | translate}}</option>
            <option value="agotado">{{ 'mod-warehouse.SELECT_EXPIRED_OPTION' | translate}}</option>
          </select>
        </div>
        }
      </div>          
    </fieldset>
    }

    @if(form_merma){
    <fieldset class="border p-3 rounded">
      <legend class="float-none w-auto p-1">
        {{ 'mod-merma.REGISTER.LEGEND2_TITLE' | translate }}
        <button class="btn btn-sm btn-light rounded-circle shadow-sm" (click)="toogleSection('registerSeccion')">
          <i [class]="mostrarSeccion.registerSeccion ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
        </button>
      </legend>
      <div class="row" *ngIf="mostrarSeccion.registerSeccion" [class.animate__fadeIn]="mostrarSeccion.registerSeccion" [class.animate__fadeOut]="!mostrarSeccion.registerSeccion">
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-merma.REGISTER.LABEL_TYPE' | translate}}
          </label>
          <ng-select 
            class="form-control custom-select form-select-sm"
            [(ngModel)]="model.id_tipo_merma"
            [items]="tipos_merma"  
            [loading]="isLoading"
            (search)="onSearch($event)"
            (change)="onSelectChange($event)"
            bindLabel="nombre" 
            bindValue="id" 
            appendTo="body" 
            [readonly]="isReadonly">
            <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
              <div class="ng-option disabled">
                No se encontró "{{searchTerm}}"
              </div>
            </ng-template>
          </ng-select>
          @if(validators.id_tipo_merma) {
          <span class="text-danger small">{{ 'mod-warehouse.PLACEHOLDER_LOTE' | translate }}</span>
          }
        </div>
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-merma.REGISTER.LABEL_AMOUT' | translate}}
          </label>
          <input type="number" min="0" class="form-control form-select-sm" [(ngModel)]="model.cantidad" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.cantidad">
          @if(validators.cantidad) {
          <span class="text-danger small">{{ 'mod-warehouse.PLACEHOLDER_LOTE' | translate }}</span>
          }
        </div>
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-merma.REGISTER.LABEL_REPORT_DATE' | translate}}
          </label>
          <input type="date" class="form-control form-select-sm" [(ngModel)]="model.fecha_reporte" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.fecha_reporte"> 
          @if(validators.fecha_reporte) {
          <span class="text-danger small">{{ 'mod-warehouse.PLACEHOLDER_LOTE' | translate }}</span>
          }
        </div>
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-merma.REGISTER.LABEL_LOST_VALUE' | translate}}
          </label>
          <input type="number" min="0" class="form-control form-select-sm" [(ngModel)]="model.valor_perdido" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.valor_perdido">
          @if(validators.valor_perdido) {
          <span class="text-danger small">{{ 'mod-warehouse.PLACEHOLDER_LOTE' | translate }}</span>
          }
        </div>
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-merma.REGISTER.LABEL_OBSERVATION' | translate}}
          </label>
          <textarea style="resize: none;" type="text" class="form-control form-select-sm" [(ngModel)]="model.observacion" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.observacion">
          </textarea>
          @if(validators.observacion) {
          <span class="text-danger small">{{ 'mod-warehouse.PLACEHOLDER_LOTE' | translate }}</span>
          }
        </div>
      </div>          
    </fieldset>
    }

    <div class="col-sm-12 row p-0">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-primary btnAction d-none" (click)="crearRegistro()">
          {{ 'mod-catalog.BUTTON_USER_CREATE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>