<div class="card shadow-sm mb-4 border-0 rounded-0">
  <div class="d-flex justify-content-between align-items-center px-4 pt-3 pb-2">
    <h4 class="m-0 fw-bold text-bold">
    {{ 'mod-modules.SUBMODULE_TITLE' | translate}}
    </h4>
  </div>

  <div class="mt-2 p-3 pt-0" style="position: relative;">
    <div class="table-container shadow-sm border rounded">
      @if (cargarTabla) {
      <app-globales-tablecrud
        [campoFiltro] = showcampoFiltro
        [endPoint] = endPoint
        [columnas] = columnas
        [habilitarSeleccion]="habilitarSeleccion"
        [permisosAcciones] = permisos
    
        (verItem) = "verData($event)"
        (crearNuevoItem) = "crearData($event)"
        (editarItem) = "editarData($event)"
        (eliminarItem) = "eliminarData($event)"
        >
      </app-globales-tablecrud>
      }
      @else {
        <app-globales-loading></app-globales-loading>
      }
    </div>
  </div>

  <app-globales-modal-boostrap
    [tamano]="tamano"
    [scrollable]="scrollable"
    [title]="title"
    [save]="save"
    [buttonSave]="buttonSave"
    [edit]="edit"
    [buttonEdit]="buttonEdit"
    [cancel]="cancel"
    [buttonCancel]="buttonCancel"
    [componentePrecargado]="componentePrecargado"
    [cierreModal]="cierreModal"
    (actualizarTabla)="refrescarTabla()"
  >
  </app-globales-modal-boostrap>

</div>
