.filter-wrapper {
  position: absolute;
  right: 8px; 
  top: 50%;
  transform: translateY(-50%); 
  z-index: 110;
  display: flex;
  flex-direction: column; 
  gap: 12px;
  align-items: center;

  ::ng-deep app-globales-search, 
  ::ng-deep app-globales-report {
    display: block;
    position: relative;
  }
}