:host {
  &[data-theme='dark'],
  &:host-context([data-theme='dark']) {
    --filter: invert(1) brightness(100) !important;
  }
}

.filter-wrapper {
  position: sticky; 
  float: right;     
  right: 1.2rem;     
  top: 15rem;      
  
  margin-top: 10rem!important;
  z-index: 110;  
  
  display: flex;
  flex-direction: column; 
  gap: 8px;
  align-items: center;
  width: 0;    
  white-space: nowrap; 

  ::ng-deep app-globales-search, 
  ::ng-deep app-globales-report {
    display: block;
    margin-left: -6px;
  }
}

.table-container {
  position: relative;
  overflow: visible; 
}

.row-container-collapse {
  overflow: hidden; 
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1); 
}

.title-custom {
  color: var(--layout-admin-page_color_title) !important;
  background-color: transparent;
}

.card {
  background-color: var(--card_menu-background_card_color) !important;
  transition: background-color 0.3s ease; // Muy importante para que sea suave

  &:hover {
    background-color: var(--card_menu-hover_card_color) !important;
    cursor: pointer;
  }
}

.colored-icon {
  filter: var(--filter);
  transition: filter 0.3s ease; /* Transición suave al cambiar de tema */
}