<div class="card shadow card-custom">
  <section class="seccion">
    <h2 class="title-custom">Contactanos</h2>
    <div class="modulos-grid">
      <div class="modulo-card">
        <img src="assets/images/img_whatsapp.png" class="colored-icon" alt="Usuarios" width="60">
        <h3 class="title-card">Whatsapp</h3>
      </div>
      <div class="modulo-card">
        <img src="assets/images/img_facebook.png" class="colored-icon" alt="Catálogo" width="60">
        <h3 class="title-card">Facebook</h3>
      </div>
      <div class="modulo-card">
        <img src="assets/images/img_instragram.png" class="colored-icon" alt="Bodega" width="100">
        <h3 class="title-card">Instagram</h3>
      </div>
      <div class="modulo-card">
        <img src="assets/images/img_email.png" class="colored-icon" alt="Bodega" width="60">
        <h3 class="title-card">Correo</h3>
      </div>
    </div>
  </section>
</div>