:host {
  display: flex;
  flex-direction: column;
  height: 100%; /* Obliga al componente a llenar la columna de Bootstrap */
}

.card {
  flex: 1; /* Hace que la tarjeta crezca para llenar el componente */
  display: flex;
  flex-direction: column;
}