::ng-deep {
  :root {
    --card-border-style: 5px solid #007bff;
  }

  [data-theme='dark'] {
    --card-border-style: 5px solid #4f5050;
  }
  
  .cardcomponent {
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: var(--card-border-style) !important;
  }

  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}