<div class="">
  @for (item of medida; track item; let  i = $index) {
    <div class="col-sm-12 p-0">
      <div class="col-sm-12 form-group">
        <label for="exampleInputEmail1">
          {{ 'mod-catalog.BRAND.LABEL_BRAND_NAME' | translate}}
        </label>
        <input type="text" class="form-control" [(ngModel)]="model.nombre" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.nombre" placeholder="{{ 'mod-catalog.BRAND.PLACEHOLDER_BRAND_NAME' | translate}}">
        @if(validators.nombre) {
          <span class="text-danger small">{{ 'mod-catalog.BRAND.PLACEHOLDER_BRAND_NAME' | translate }}</span>
        }
      </div>
      <div class="col-sm-12 row p-0">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-primary btnAction d-none" (click)="actualizarData()">
            {{ 'mod-catalog.BUTTON_EDIT' | translate}}
          </button>
        </div>
      </div>
    </div>
  }
</div>