<div class="">
  <div class="col-xl col-sm-12 card pl-0 pr-0 pt-3 pb-4 scroll-card">
    <input type="text" class="d-none complementoRuta" value="">
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_LOTE' | translate}}
      </span>
      <input type="text" class="form-control form-select-sm" id="exampleInputEmail1" [(ngModel)]="model.p_lote"
        aria-describedby="emailHelp" placeholder="{{ 'mod-warehouse.PLACEHOLDER_LOTE_F' | translate}}">
    </div>
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-catalog.PRODUCT.LABEL_COD_BAR_PRODUCT' | translate }} (EAN-13)
      </span>
      <input type="email" class="form-control form-select-sm" id="exampleInputEmail1" [(ngModel)]="model.p_codigo_barra"
        aria-describedby="emailHelp" placeholder="{{ 'mod-catalog.PRODUCT.PLACEHOLDER_COD_BAR_PRODUCT' | translate }}">
    </div>
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-catalog.PRODUCT.LABEL_NAME_PRODUCT' | translate }}
      </span>
      <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
        [(ngModel)]="model.p_nombre_producto" aria-describedby="emailHelp"
        placeholder="{{ 'mod-warehouse.PLACEHOLDER_LOTE_F' | translate}}">
    </div>
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-alerts.LABEL_STATUS_ALERT' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select" [(ngModel)]="model.p_estado_alerta">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="Artículo en alerta verde">{{ 'mod-alerts.OPTION_VENCIMIENTO.ITEM_ON_GREEN_ALERT' | translate}}</option>
            <option value="Artículo en alerta amarilla">{{ 'mod-alerts.OPTION_VENCIMIENTO.ITEM_ON_YELLOW_ALERT' | translate}}</option>
            <option value="Artículo en alerta naranja">{{ 'mod-alerts.OPTION_VENCIMIENTO.ITEM_ON_ORANGE_ALERT' | translate}}</option>
            <option value="Artículo en alerta roja">{{ 'mod-alerts.OPTION_VENCIMIENTO.ITEM_ON_RED_ALERT' | translate}}</option>
            <option value="Artículo vencido">{{ 'mod-alerts.OPTION_VENCIMIENTO.ITEM_EXPIRED' | translate}}</option>
            <option value="Artículo no perecedero">{{ 'mod-alerts.OPTION_VENCIMIENTO.ITEM_NOT_PERISHABLE' | translate}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_FECHA_VENCIMIENTO' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="date" class="form-control form-select-sm" [(ngModel)]="model.p_fecha_vencimiento_min">
        </div>
        <div class="col-sm">
          <input type="date" class="form-control form-select-sm" [(ngModel)]="model.p_fecha_vencimiento_max">
        </div>
      </div>
    </div>
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_COMPRADA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_cantidad_comprada_min" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MIN_F' | translate}}">
        </div>
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_cantidad_comprada_max" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MAX_F' | translate}}">
        </div>
      </div>
    </div>
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_VENDIDA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_cantidad_vendida_min" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MIN_F' | translate}}">
        </div>
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_cantidad_vendida_max" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MAX_F' | translate}}">
        </div>
      </div>
    </div>
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-alerts.LABEL_REMAINING_DAYS' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_dias_restantes_min" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MIN_F' | translate}}">
        </div>
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_dias_restantes_max" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MAX_F' | translate}}">
        </div>
      </div>
    </div>
    <div class="col-sm-12 mb-2">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-warehouse.LABEL_CANTIDAD_BODEGA' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_cantidad_bodega_min" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MIN_F' | translate}}">
        </div>
        <div class="col-sm">
          <input type="email" class="form-control form-select-sm" id="exampleInputEmail1"
            [(ngModel)]="model.p_cantidad_bodega_max" aria-describedby="emailHelp"
            placeholder="{{ 'mod-warehouse.PLACEHOLDER_STOCK_MAX_F' | translate}}">
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <span class="" for="exampleInputEmail1">
        {{ 'mod-alerts.LABEL_ALERT_SORT' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select" [(ngModel)]="model.field">
            <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
            <option value="lote">{{ 'mod-warehouse.COLUMN_BATCH' | translate}}</option>
            <option value="fecha_entrada">{{ 'mod-warehouse.LABEL_FECHA_ENTRADA' | translate}}</option>
            <option value="fecha_vencimiento">{{ 'mod-warehouse.LABEL_FECHA_VENCIMIENTO' | translate}}</option>
            <option value="dias_restantes">{{ 'mod-warehouse.WORD_DAYS_REMAINING' | translate}}</option>
            <option value="estado_alerta">{{ 'mod-warehouse.LABEL_ESTADO' | translate}}</option>
            <option value="cantidad_comprada">{{ 'mod-warehouse.LABEL_CANTIDAD_COMPRADA' | translate}}</option>
            <option value="cantidad_vendida">{{ 'mod-warehouse.LABEL_CANTIDAD_VENDIDA' | translate}}</option>
            <option value="estado">{{ 'mod-warehouse.LABEL_ESTADO' | translate}}</option>
            <option value="nombre_producto">{{ 'mod-catalog.PRODUCT.WORD_PRODUCT' | translate}}</option>
            <option value="nombre_proveedor">{{ 'mod-catalog.SUPPLIER.WORD_SUPPLIER' | translate}}</option>
            <option value="cantidad_en_bodega">{{ 'mod-warehouse.LABEL_CANTIDAD_BODEGA' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select name="" id="" class="form-control form-select-sm custom-select" [(ngModel)]="model.order">
            <option value="">{{ 'mod-alerts.SELECT_STATUS_ALERT_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-alerts.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-alerts.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>
    <button class="d-none limpiarS" (click)="limpiar()"></button>
    <button class="d-none filtrar" (click)="filtrar()"></button>
  </div>
</div>