<div class="row">
  @for (item of tipo; track item; let i = $index) {
  <div class="col-xl col-sm-12">
    <fieldset class="border p-3 rounded">
      <legend class="float-none w-auto p-1">
        <i class="fas fa-tags me-1"></i> {{ 'mod-merma.TYPE.LEGEND_TITLE' | translate }}
      </legend>
      
      <div class="col-sm-12 form-group mb-3">
        <label class="label-color d-flex align-items-center gap-1 mb-1">
          <i class="fas fa-pen me-1"></i> {{ 'mod-merma.TYPE.LABEL_NAME_TYPE' | translate}}
        </label>
        
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" [(ngModel)]="model.nombre" (ngModelChange)="onInputChange()"
            id="exampleInputEmail1" aria-describedby="emailHelp" value="{{item.nombre}}">
        </div>

        @if(validators.nombre) {
        <span class="text-danger small d-flex align-items-center gap-1 mt-1">
          <!-- Ícono de Error / Advertencia -->
          <i class="bi bi-exclamation-circle-fill"></i>
          {{ 'mod-merma.TYPE.PLACEHOLDER_NAME_TYPE' | translate }}
        </span>
        }
      </div>

      <div class="col-sm-12 row p-0">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-primary btnAction d-none d-flex align-items-center gap-1" (click)="actualizarData()">
            <!-- Ícono en el Botón -->
            <i class="bi bi-save"></i>
            {{ 'mod-merma.BUTTON_EDIT' | translate}}
          </button>
        </div>
      </div>
    </fieldset>
  </div>
  }
</div>