<div class="">
    <div class="col-xl col-sm-12 card pl-0 pr-0 pt-3 pb-4">
        <input type="text" class="d-none complementoRuta" value="">
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-catalog.PRODUCT.LABEL_NAME_PRODUCT' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.nombre" aria-describedby="emailHelp" placeholder="{{ 'mod-catalog.PRODUCT.PLACEHOLDER_NAME_PRODUCT' | translate}}">
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-catalog.PRODUCT.LABEL_COD_BAR_PRODUCT' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.codigo_barra" aria-describedby="emailHelp" placeholder="{{ 'mod-catalog.PRODUCT.PLACEHOLDER_COD_BAR_PRODUCT' | translate}}">
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-catalog.PRODUCT.LABEL_STOCK_PRODUCT' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.stock_minimo" aria-describedby="emailHelp" placeholder="{{ 'mod-catalog.PRODUCT.PLACEHOLDER_STOCK_PRODUCT' | translate}}">
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-catalog.PRODUCT.LABEL_UNIT_OF_MEASUREMENT_PRODUCT' | translate}}
            </label>
            <select name="" id="" class="form-control" [(ngModel)]="model.unidad_medida">
              <option value="">{{ 'mod-catalog.PRODUCT.SELECT_UNIT_OF_MEASUREMENT_SELECT_OPTION' | translate}}</option>
              <option value="unidad">{{ 'mod-catalog.PRODUCT.SELECT_UNIT_OF_MEASUREMENT_UNIT_OPTION' | translate}}</option>
              <option value="kg">{{ 'mod-catalog.PRODUCT.SELECT_UNIT_OF_MEASUREMENT_KG_OPTION' | translate}}</option>
              <option value="litro">{{ 'mod-catalog.PRODUCT.SELECT_UNIT_OF_MEASUREMENT_LITER_OPTION' | translate}}</option>
              <option value="paquete">{{ 'mod-catalog.PRODUCT.SELECT_UNIT_OF_MEASUREMENT_PACKAGE_OPTION' | translate}}</option>
            </select>
        </div>
        <button class="d-none limpiar" (click)="limpiar()"></button>
        <button class="d-none filtrar" (click)="filtrar()"></button>
    </div>
</div>