<div class="">
  <div class="col-xl col-sm-12 card pl-0 pr-0 pt-3 pb-4 scroll-card">
    <input type="text" class="d-none complementoRuta" value="">
    
    <!-- Nombre -->
    <div class="col-sm-12 mb-2">
      <span class="label-color">
        {{ 'mod-catalog.PRODUCT.LABEL_NAME_PRODUCT' | translate}}
      </span>
      <input type="text" class="form-control form-select-sm" [(ngModel)]="model.nombre"
        placeholder="{{ 'mod-catalog.PRODUCT.PLACEHOLDER_NAME_PRODUCT' | translate}}">
    </div>

    <!-- Marca (ng-select) -->
    <div class="col-sm-12 mb-2" *ngIf="!hasBrandInUrl">
      <span class="label-color">
        {{ 'mod-catalog.PRODUCT.LABEL_BRAND_PRODUCT' | translate}}
      </span>
      <ng-select class="form-control custom-select form-select-sm" 
        [(ngModel)]="model.marca_obj" 
        [items]="marcas"
        [loading]="isLoading" 
        (search)="onSearchB($event)" 
        (change)="onSelectChangeB($event)" 
        (clear)="onClearB()"
        bindLabel="nombre"
        appendTo="body" 
        [readonly]="isReadonly">
        <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
          <div class="ng-option disabled">
            No se encontró "{{searchTerm}}"
          </div>
        </ng-template>
      </ng-select>
    </div>    

    <!-- Código de Barras -->
    <div class="col-sm-12 mb-2">
      <span class="label-color">
        {{ 'mod-catalog.PRODUCT.LABEL_COD_BAR_PRODUCT' | translate}}
      </span>
      <input type="text" class="form-control form-select-sm" [(ngModel)]="model.codigo_barra"
        placeholder="{{ 'mod-catalog.PRODUCT.PLACEHOLDER_COD_BAR_PRODUCT' | translate}}">
    </div>

    <!-- Perecedero -->
    <div class="col-sm-12 mb-2">
      <span class="label-color">
        {{ 'mod-catalog.PRODUCT.LABEL_CHECK_PERISHABLE' | translate }}
      </span>
      <select class="form-control form-select-sm custom-select" [(ngModel)]="model.es_perecedero">
        <option value="">{{ 'mod-catalog.WORD_SELECT_OPTION' | translate}}</option>
        <option value="1">{{ 'mod-catalog.WORD_YES' | translate}}</option>
        <option value="0">{{ 'mod-catalog.WORD_NO' | translate}}</option>
      </select>
    </div>

    <!-- Estado -->
    <div class="col-sm-12 mb-2">
      <span class="label-color">
        {{ 'mod-catalog.PRODUCT.LABEL_BRAND_STATUS' | translate }}
      </span>
      <select class="form-control form-select-sm custom-select" [(ngModel)]="model.estado">
        <option value="">{{ 'mod-catalog.WORD_SELECT_OPTION' | translate}}</option>
        <option value="1">{{ 'mod-catalog.PRODUCT.SELECT_PRODUCT_OPTION_ACTIVED' | translate}}</option>
        <option value="0">{{ 'mod-catalog.PRODUCT.SELECT_PRODUCT_OPTION_INACTIVED' | translate}}</option>
      </select>
    </div>

    <!-- Stock Mínimo y Máximo -->
    <div class="col-sm-12 mb-2">
      <span class="label-color">
        {{ 'mod-catalog.PRODUCT.LEGEND_TITLE_STOCK' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <input type="text" class="form-control form-select-sm"
            [(ngModel)]="model.stock_minimo"
            placeholder="{{ 'mod-catalog.PRODUCT.PLACEHOLDER_STOCK_PRODUCT' | translate}}">
        </div>
        <div class="col-sm">
          <input type="text" class="form-control form-select-sm"
            [(ngModel)]="model.stock_maximo"
            placeholder="{{ 'mod-catalog.PRODUCT.PLACEHOLDER_STOCK_PRODUCT' | translate}}">
        </div>
      </div>
    </div>

    <!-- Medida (ng-select) -->
    <div class="col-sm-12 mb-2" *ngIf="!hasExtendInUrl">
      <span class="label-color">
        {{ 'mod-catalog.PRODUCT.LABEL_UNIT_OF_MEASUREMENT_PRODUCT' | translate}}
      </span>
      <ng-select class="form-control custom-select form-select-sm" 
        [(ngModel)]="model.medida_obj" 
        [items]="medidas"
        [loading]="isLoading" 
        (search)="onSearchM($event)" 
        (change)="onSelectChangeM($event)" 
        (clear)="onClearM()"
        bindLabel="nombre"
        appendTo="body" 
        [readonly]="isReadonly">
        <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
          <div class="ng-option disabled">
            No se encontró "{{searchTerm}}"
          </div>
        </ng-template>
      </ng-select>
    </div>

    <!-- Ordenamiento -->
    <div class="col-sm-12">
      <span class="label-color">
        {{ 'mod-catalog.SUPPLIER.LABEL_BUSSINESS_SORT' | translate}}
      </span>
      <div class="row">
        <div class="col-sm">
          <select class="form-control form-select-sm custom-select" [(ngModel)]="model.field">
            <option value="">{{ 'mod-catalog.WORD_SELECT_OPTION' | translate}}</option>
            <option value="id">{{ 'mod-catalog.PRODUCT.COLUMN_ID' | translate}}</option>
            <option value="nombre">{{ 'mod-catalog.PRODUCT.COLUMN_NAME' | translate}}</option>
            <option value="codigo_barra">{{ 'mod-catalog.PRODUCT.COLUMN_BAR_CODE' | translate}}</option>
          </select>
        </div>
        <div class="col-sm">
          <select class="form-control form-select-sm custom-select" [(ngModel)]="model.order">
            <option value="">{{ 'mod-catalog.WORD_SELECT_OPTION' | translate}}</option>
            <option value="asc">{{ 'mod-catalog.WORD_ASCENDING' | translate}}</option>
            <option value="desc">{{ 'mod-catalog.WORD_DESCENDING' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <button class="d-none limpiarS" (click)="limpiar()"></button>
    <button class="d-none filtrar" (click)="filtrar()"></button>
  </div>
</div>