.card-custom {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: var(--layout-index-background_color_card) !important;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.title-custom {
  color: var(--layout-index-back_color_title) !important;
  background-color: transparent;
}