<div class="custom-language-select nav-link p-0">
  <select [(ngModel)]="languague" class="form-control" (change)="cambiarIdioma()">
    <option value="es">🇪🇸</option>
    <option value="en">🇺🇸</option>
    <option value="fr">🇫🇷</option>
    <option value="ge">🇩🇪</option>
  </select>
</div>

<!-- {{ 'global-idioma.WORD_SPANISH' | translate}} -->
<!-- {{ 'global-idioma.WORD_ENGLISH' | translate}} -->
<!-- {{ 'global-idioma.WORD_FRENCH' | translate}} -->
<!-- {{ 'global-idioma.WORD_GERMAN' | translate}} -->
