<div class="floating-group">
  <span class="custom-tooltip tooltip-left" [attr.data-title]="'global-search.TITTLE_COMPONENT' | translate">
    <span class="floating-number-filter text-center" (click)="openFilterMinimize()">
      {{ contador }}
    </span>
    <button class="floating-button btn btn-sm btn-search" (click)="openFilterMinimize()">
      <i [ngClass]="icon" class="icon_color"></i>
    </button>
  </span>

  <div class="animated-card custom-bg shadow-lg" [class.is-visible]="isFilterVisible">
    <button class="btn-close-card" (click)="$event.stopPropagation(); closeFilterEraser()">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn-minimize-card" (click)="openFilterMinimize()">
      <i class="fa fa-window-minimize"></i>
    </button>
    <h3 class="header-search">{{ 'global-search.TITTLE_COMPONENT' | translate }}</h3>
    <div class="card-body">
      <div class="container mt-2 scroll-container">
        <div #contenedorFilter></div>
      </div>
      <div class="container mt-2 mb-2">
        <div class="card shadow-sm">
          <div class="d-flex justify-content-center align-items-center py-2">
            <span class="custom-tooltip tooltip-bottom" [attr.data-title]="'global-search.BUTTON_CLEAR' | translate">
              <button (click)="clearFilter()" class="btn btn-sm btn-secondary rounded-circle mx-1">
                <i class="fa fa-eraser"></i>
                <!-- {{ 'global-search.BUTTON_CLEAR' | translate }} -->
              </button>
            </span>
            <span class="custom-tooltip tooltip-bottom" [attr.data-title]="'global-search.BUTTON_FILTER' | translate">
              <button (click)="actionFilter()" class="btn btn-sm btn-primary  rounded-circle mx-1">
                <i class="fa fa-filter"></i>
                <!-- {{ 'global-search.BUTTON_FILTER' | translate }} -->
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>