<div class="floating-group">
  <span class="custom-tooltip tooltip-left" [attr.data-title]="'global-search.TITTLE_COMPONENT' | translate">
    <span class="floating-number-filter text-center" (click)="openFilterMinimize()">
      {{ contador }}
    </span>
    <button class="floating-button btn btn-sm btn-search" (click)="openFilterMinimize()">
      <i [ngClass]="icon" class="icon_color"></i>
    </button>
  </span>

  <div class="animated-card" [class.is-visible]="isFilterVisible">
    <button class="btn-close-card" (click)="$event.stopPropagation(); closeFilterEraser()">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn-minimize-card" (click)="openFilterMinimize()">
      <i class="fa fa-window-minimize"></i>
    </button>
    <h3 class="header-search">{{ 'global-search.TITTLE_COMPONENT' | translate }}</h3>
    <div class="card-body">
      <div class="container mt-2">
        <div #contenedorFilter></div>
      </div>
      <div class="container mt-3 mb-2">
        <button (click)="clearFilter()" class="btn btn-sm btn-secondary">
          {{ 'global-search.BUTTON_CLEAR' | translate }}
        </button>
        <button (click)="actionFilter()" class="btn btn-sm btn-primary ms-2">
          {{ 'global-search.BUTTON_FILTER' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>